.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: fixed;
  border-bottom-color: rgb(228,228,228);
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}
.left-section{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.mid-section{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
  max-width: 500px;
  align-items: center;
}
.right-section{
  display: flex;
  flex-direction: row;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.yt-menu{
  height: 24px;
  margin-left: 24px;
}
.yt-logo{ 
  height: 20px;
  margin-left: 10px; 
}
.yt-icon{
  position: relative;
}
.yt-india{
  position: absolute;
  font-family: Roboto,Arial;
  font-size: 10px;
  top: -6px;
  right: -14px;
  color: gray;
}
.search-box{
  width: 0;
  height: 25px;
  flex: 1;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px ;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 0.5px 1px 5px rgba(0, 0, 0, 0.15);
}
.search-box::placeholder{
  font-family: Roboto , Arial;
  font-size: large;
}
.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
  background-color: rgb(240, 240, 240);
  height: 37px;
  width: 65px;
  margin-right: 10px;
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px ;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  position: relative;
}
.search-icon{
  height: 60%;
  width: 60%;
  object-fit: cover;
}
.search-button > div{
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  font-family: Roboto,Arial;
  color: white;
  background-color: rgba(96, 96, 96, 0.9);
  padding: 8px 6px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}
.search-button:hover >div{
  opacity: 1;
}
.voice-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  height: 39px;
  width: 45px;
  border-radius: 50%;
  padding: 2px 10px;
  background-color: rgb(240, 240, 240);
}
.voice-button > div{
  position: absolute;
  font-size: 12px;
  bottom: -40px;
  font-family: Roboto,Arial;
  color: white;
  background-color: rgba(96, 96, 96, 0.9);
  padding: 8px 6px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.voice-button:hover >div{
  opacity: 1;
}
.upload-icon,.yt-apps-icon,.bell-icon{
  height: 24px;
}
.userPic{
  height: 32px;
  border-radius: 50%;
}
.notifications{
  position: relative;
  display: flex;
  justify-content: center;
}
.notification-count{
  position: absolute;
  color: white;
  font-family: Roboto,Arial;
  background-color: rgb(200, 0, 0);
  text-align: center;
  top: -2px;
  right: -4px;
  font-size: 10px;
  padding: 1.5px 5px;
  border-radius: 80px;
}
.uc , .ac{
  position: relative;
  display: flex;
  justify-content: center;
}
.user{
  position: relative;
  display: flex;
  justify-content: right;
}
.uc > div , .ac > div , .user > div{
  position: absolute;
  font-size: 12px;
  bottom: -40px;
  font-family: Roboto,Arial;
  color: white;
  background-color: rgba(96, 96, 96, 0.9);
  padding: 8px 6px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap
}
.uc:hover >div , .ac:hover >div, .user:hover >div{
  opacity: 1;
}
.notification-tooltip{
  position: absolute;
  font-size: 12px;
  bottom: -40px;
  font-family: Roboto,Arial;
  color: white;
  background-color: rgba(96, 96, 96, 0.9);
  padding: 8px 6px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap
}
.notifications:hover > .notification-tooltip{
  opacity: 1;
}
@media (max-width:450px){
  .voice-button{display: none;}
  .search-box{display: none;}
  .mid-section{margin-right: 0px;}
  .uc , .ac{display: none;}
  .right-section{
    width: auto;
    gap: 15px;
  }
}